################################################################################################################################################################

# @project        Raspberry Pi Setup
# @file           .gitignore
# @author         Lucas Brémond <lucas.bremond@gmail.com>
# @license        MIT License

################################################################################################################################################################

host_vars/*
setup.retry

################################################################################################################################################################