# client    server  secret          IP address or range
{% for user in vpn.users %}
{{ user.name }}  l2tpd  {{ user.password }}   {{ user.ip_address if user.ip_address is defined else '*' }}
{% endfor %}